/.env
/.idea
/vendor
.DS_Store


/.vagrant
/node_modules
/public/hot
/public/storage
/storage
/cpresources
/tests/_craft
/tests/_output
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*license.key
/tests/_craft/storage/logs/*
/tests/storage/